---
import "./Experiences.css";
import strip1 from "../assets/collage/strip1.png";
import strip2 from "../assets/collage/strip2.png";
import strip3 from "../assets/collage/strip3.png";
import strip4 from "../assets/collage/strip4.png";
import strip5 from "../assets/collage/strip5.png";
import track from "../assets/collage/track.png";
import text from "../assets/collage/experiencesText.png";
import cornell from "../assets/collage/cornell.png";
import daydream from "../assets/collage/daydream.png";
import etre from "../assets/collage/etre.png";
import gtech from "../assets/collage/gtech.png";
import ncwit from "../assets/collage/ncwit.png";
import nyjos from "../assets/collage/nyjos.png";
import ovra from "../assets/collage/ovra.png";
import parthenon from "../assets/collage/parthenon.png";
import pennapps from "../assets/collage/pennapps.png";
import rutgers from "../assets/collage/rutgers.png";
import stampd from "../assets/collage/stampd.png";
import techfluences from "../assets/collage/techfluences.png";
import techgirls from "../assets/collage/techgirls.png";
import campinvention from "../assets/collage/campinvention.png";
---
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <title>adishree das</title>
    </head>

    <section class="experiences-section">
        <img src={text.src} alt="my experiences" class="experiences-text">
        <img src={track.src} alt="track" class="track-polaroid">
        <div class="stripbg">
            <img src={strip1.src} alt="photobooth strip1" class="strip strip-first">
            <img src={strip2.src} alt="photobooth strip2" class="strip">
            <img src={strip3.src} alt="photobooth strip3" class="strip">
            <img src={strip4.src} alt="photobooth strip4" class="strip">
            <img src={strip5.src} alt="photobooth strip5" class="strip">
        </div>
        <div class="experience-items">
            <img src={cornell.src} alt="cornell" class="experience-item">
            <img src={daydream.src} alt="daydream" class="experience-item">
            <img src={etre.src} alt="etre" class="experience-item">
            <img src={gtech.src} alt="gtech" class="experience-item">
            <img src={ncwit.src} alt="ncwit" class="experience-item">
            <img src={nyjos.src} alt="nyjos" class="experience-item">
            <img src={ovra.src} alt="ovra" class="experience-item">
            <img src={parthenon.src} alt="parthenon" class="experience-item">
            <img src={pennapps.src} alt="pennapps" class="experience-item">
            <img src={rutgers.src} alt="rutgers" class="experience-item">
            <img src={stampd.src} alt="stampd" class="experience-item">
            <img src={techfluences.src} alt="techfluences" class="experience-item">
            <img src={techgirls.src} alt="techgirls" class="experience-item">
            <img src={campinvention.src} alt="campinvention" class="experience-item">
        </div>
    </section>
</html>