---
import "./Experiences.css";
import strip1 from "../assets/collage/strip1.png";
import strip2 from "../assets/collage/strip2.png";
import strip3 from "../assets/collage/strip3.png";
import strip4 from "../assets/collage/strip4.png";
import strip5 from "../assets/collage/strip5.png";
---
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <title>adishree das</title>
    </head>

    <body>
        <div class="stripbg">
            <img src={strip1.src} alt="photobooth strip1" class="bigstrip">
            <img src={strip2.src} alt="photobooth strip2" class="strip">
            <img src={strip3.src} alt="photobooth strip3" class="strip">
            <img src={strip4.src} alt="photobooth strip4" class="strip">
            <img src={strip5.src} alt="photobooth strip5" class="strip">
        </div>
    </body>
</html>