---
const {title, description} = Astro.props;
import auraImage from "../assets/backgrounds/aura.jpg";
import meImage from "../assets/me/me.jpg";
import img1 from "../assets/headerpopup/1.webp";
import img2 from "../assets/headerpopup/2.jpg";
import img3 from "../assets/headerpopup/3.png";
import img4 from "../assets/headerpopup/4.JPG";
import img5 from "../assets/headerpopup/5.jpg";
import img6 from "../assets/headerpopup/6.svg";
import img7 from "../assets/headerpopup/7.png";
import img8 from "../assets/headerpopup/8.png";
import img9 from "../assets/headerpopup/9.jpg";
import img10 from "../assets/headerpopup/10.png";
import img11 from "../assets/headerpopup/11.JPEG";
import img12 from "../assets/headerpopup/12.JPEG";
import img13 from "../assets/headerpopup/13.jpg";
import img14 from "../assets/headerpopup/14.jpg";
import img15 from "../assets/headerpopup/15.JPG";
import img16 from "../assets/headerpopup/16.jpg";
import img17 from "../assets/headerpopup/17.PNG";
import img18 from "../assets/headerpopup/18.JPG";
import img19 from "../assets/headerpopup/19.jpg";
import img20 from "../assets/headerpopup/20.JPG";
import img21 from "../assets/headerpopup/21.jpg";
import img22 from "../assets/headerpopup/22.JPG";
import img23 from "../assets/headerpopup/23.jpg";
import img24 from "../assets/headerpopup/24.jpeg";
import img25 from "../assets/headerpopup/25.JPG";
import img26 from "../assets/headerpopup/26.jpg";
import "./Header.css";
---
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
        <title>adishree das</title>
    </head>

    <body>
        <!-- loading screen -->
        <div id="loading-screen" class="loading-screen">
            <div class="loading-content">
                <div class="loading-spinner"></div>
                <p class="loading-text">Loading</p>
            </div>
        </div>

        <header class="hero" id="main-content" style="display: none;">
            <div class="auraImg">
                <img src={auraImage.src} alt="aura background"/>
            </div>
            <div class="container">
                <div class="meSection">
                    <div class="photo-caption">
                        <span>click on my picture!!</span>
                        <svg class="curved-arrow" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <path d="m40 10C35 15 25 15 15 35M15 35L12 25M15 35L25 32" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img src={meImage.src} alt="an image of me (adishree)!!" class="mePhoto" id="main-photo">
                    <div class="surround-images">
                        <span class="pop-item item-1">
                            <img src={img1.src} alt="Image 1" />
                        </span>
                        <span class="pop-item item-2">
                            <img src={img2.src} alt="Image 2" />
                        </span>
                        <span class="pop-item item-3">
                            <img src={img3.src} alt="Image 3" />
                        </span>
                        <span class="pop-item item-4">
                            <img src={img4.src} alt="Image 4" />
                        </span>
                        <span class="pop-item item-5">
                            <img src={img5.src} alt="Image 5" />
                        </span>
                        <span class="pop-item item-6">
                            <img src={img6.src} alt="Image 6"/>
                        </span>
                        <span class="pop-item item-7 shape-circle size-small">
                            <img src={img7.src} alt="Image 7" />
                        </span>
                        <span class="pop-item item-8 shape-star size-medium">
                            <img src={img8.src} alt="Image 8" />
                        </span>
                        <span class="pop-item item-9 shape-heart size-small">
                            <img src={img9.src} alt="Image 9" />
                        </span>
                        <span class="pop-item item-10 shape-circle size-medium">
                            <img src={img10.src} alt="Image 10" />
                        </span>
                        <span class="pop-item item-11 shape-star size-small">
                            <img src={img11.src} alt="Image 11" />
                        </span>
                        <span class="pop-item item-12 shape-heart size-medium">
                            <img src={img12.src} alt="Image 12" />
                        </span>
                        <span class="pop-item item-13 shape-circle size-small">
                            <img src={img13.src} alt="Image 13" />
                        </span>
                        <span class="pop-item item-14 size-medium">
                            <img src={img14.src} alt="Image 14" />
                        </span>
                        <span class="pop-item item-15 shape-star size-small">
                            <img src={img15.src} alt="Image 15" />
                        </span>
                        <span class="pop-item item-16 shape-heart size-medium">
                            <img src={img16.src} alt="Image 16" />
                        </span>
                        <span class="pop-item item-17 shape-circle size-small">
                            <img src={img17.src} alt="Image 17" />
                        </span>
                        <span class="pop-item item-18 shape-star size-medium">
                            <img src={img18.src} alt="Image 18" />
                        </span>
                        <span class="pop-item item-19 shape-heart size-small">
                            <img src={img19.src} alt="Image 19" />
                        </span>
                        <span class="pop-item item-20 size-medium">
                            <img src={img20.src} alt="Image 20" />
                        </span>
                        <span class="pop-item item-21 shape-circle size-small">
                            <img src={img21.src} alt="Image 21" />
                        </span>
                        <span class="pop-item item-22 shape-star size-medium">
                            <img src={img22.src} alt="Image 22" />
                        </span>
                        <span class="pop-item item-23 shape-heart size-small">
                            <img src={img23.src} alt="Image 23" />
                        </span>
                        <span class="pop-item item-24 shape-circle size-medium">
                            <img src={img24.src} alt="Image 24" />
                        </span>
                        <span class="pop-item item-25 size-small">
                            <img src={img25.src} alt="Image 25" />
                        </span>
                        <span class="pop-item item-26 shape-star size-medium">
                            <img src={img26.src} alt="Image 26" />
                        </span>
                    </div>
                </div>

                <div class="text">
                    <h1>welcome to</h1>
                    <p class="subtitle">adishree's internet corner</p>
                </div>

                <div class="nav-links">
                    <a href="#about" class="nav-btn btn-1">about me</a>
                    <a href="#projects" class="nav-btn btn-2">projects</a>
                    <a href="#experiences" class="nav-btn btn-3">experiences</a>
                </div>
                <div class="social-links">
                    <a href="https://drive.google.com/file/d/1cLCS8aWujnOLg9msk3I81-qkPabN4tgA/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="social-link social-link-text" aria-label="Resume">
                        <span>CV</span>
                    </a>
                    <a href="https://github.com/dasadishree" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="GitHub">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 22V18C15.1392 16.7473 14.78 15.4901 14 14.5C17 14.5 20 12.5 20 9C20.08 7.75 19.73 6.52 19 5.5C19.28 4.35 19.28 3.15 19 2C19 2 18 1.5 16 3C14.62 2.65 13.13 2.65 11.75 3C10.75 1.5 9.75 2 9.75 2C9.47 3.15 9.47 4.35 9.75 5.5C9.02 6.52 8.67 7.75 8.75 9C8.75 12.5 11.75 14.5 14.75 14.5C14 15.5 13.64 16.75 13.75 18V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 18C4 19.5 4 16.5 2 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/dasadishree" target="_blank" rel="noopener noreferrer" class="social-link" aria-label="LinkedIn">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 9H2V21H6V9Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="mailto:dasadishree@gmail.com" class="social-link" aria-label="Email">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 6L12 13L2 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2 6L12 13L22 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>

            </div>
        </header>
    </body>
</html>

<script>
    import "./Header.js";
</script>